$spark-orange: #e88300;

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    color: #333;
    line-height: 1.4;
}

a {
    color: $spark-orange;
    text-decoration: none;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }

h1, 
h2, 
h3, 
h4 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    letter-spacing: -0.5px;
    margin-top: 1.75em;
    margin-bottom: 0.75em;
    + p {
        margin-top: 0.25em;
    }
}

h2 {
    font-weight: 400;
}

p {
    margin: 1.5em 0 0.25em;
    font-family: 'Lato', sans-serif;
}

p, 
li {
    code {
        font-family: 'Fira Mono', monospace;
        font-size: 80%;
        border: 1px solid #ccc;
        background: #f5f5f5;
        padding: 1px 3px;
        color: #0008bc;
        border-radius: 3px;
        font-style: normal;
    }
}

.star-one {
  margin: 15px 0;
  background: #fff;
  padding: 15px;
  border: 1px dashed #bbb;
  p {
    margin: 0;
  }
}

.star-two {
  overflow: auto;
  margin: 25px 0 10px;
  > * {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
  }
}

pre {
    margin: .5em 0;
    background: #333;
    padding: 15px;
    border-radius: 5px;
    color: #f5f5f5;
    overflow-x: scroll;
}

main {
    padding: 40px 0;
    img {
        width: 100%;
        display: block;
        max-width: 100%;
    }
}

.notification {
    margin: 15px 0;
    background: #f5f5f5;
    padding: 15px;
    border-left: 5px solid $spark-orange;
    p {
        margin: 0;
    }
}

.template-engine {
    margin-top: 32px;
    h2, 
    p {
        margin: 5px 0;    
    }
}

.template-engine-list {
    color: #777;
}

.small-list {
    font-size: 80%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0 0 20px 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 5px;
        vertical-align: -0.5em;
    }
    p {
        line-height: 200%;
        display: inline;
    }
}

pre { // scrollbar in code examples
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: #777;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #999;
    }
    &::-webkit-scrollbar-track {
        background: #333;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-button {
        width: 8px;
        height: 8px;
    }
}
